<!DOCTYPE html>
<html>
    <head>
        <style>
            a {
                margin: 4px;
            }
        </style>
    </head>
    <body>
        <p>
            <a href="/users">All Users</a>
            <a href="/users/new">Add New User</a>
            <a href="/restaurants">All Restaurants</a>
            <a href="/restaurants/new">Add New Restaurant</a>
        </p>
        <%= yield %>        
    </body>
</html>