<html>
    <header>
    </header>
    
    <body>
        <ul>
            <% @restaurants.each do |restaurant| %>
            <li>  <%= restaurant.name %> </li>
            <% end %>
        </ul>

    </body>

</html>